<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SongRank</a>
    </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", albums_path %></li>
        <li><a href="#">About</a></li>
        </li>
      </ul>

      <form class="navbar-form navbar-right">
        <input type="text" class="form-control col-lg-8" placeholder="Search">
      </form>

    </div>
  </div><!-- /.container -->
</div><!-- /.navbar -->
